streamlit
langgraph
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
sentence-transformers
faiss-cpu
pypdf
duckduckgo-search
python-dotenv
langgraph-checkpoint-sqlite